{% load static %}
<footer class="border-top mt-5 pt-4 pb-3">
    <div class="container">
        <div class="row text-center text-md-start justify-content-between align-items-start">

            <div class="col-12 col-md-3 mb-4">
                <h5 class="mb-3">Мобильные приложения</h5>
                <div class="d-flex flex-column gap-2 align-items-center align-items-md-start">
                    <img src="{% static 'images/badges/google-play.png' %}" alt="Google Play" width="140">
                    <img src="{% static 'images/badges/app-store.png' %}" alt="App Store" width="140">
                </div>
            </div>

            <div class="col-6 col-md-2 mb-4">
                <h5 class="mb-3">Афиша</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Расписание</a></li>
                    <li><a href="#" class="text-decoration-none">Скоро в прокате</a></li>
                    <li><a href="#" class="text-decoration-none">Кинотеатры</a></li>
                    <li><a href="#" class="text-decoration-none">Акции</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-4">
                <h5 class="mb-3">О кинотеатре</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Новости</a></li>
                    <li><a href="#" class="text-decoration-none">Реклама</a></li>
                    <li><a href="#" class="text-decoration-none">Кафе-Бар</a></li>
                    <li><a href="#" class="text-decoration-none">Контакты</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-3 mb-4 text-center text-md-end">
                <h5 class="visually-hidden">Соцсети</h5>
                <div class="d-flex justify-content-center justify-content-md-end gap-2">
                    <a href="#"><img src="{% static 'images/icons/facebook.png' %}" alt="Facebook" width="32"></a>
                    <a href="#"><img src="{% static 'images/icons/twitter.png' %}" alt="Twitter" width="32"></a>
                    <a href="#"><img src="{% static 'images/icons/vk.png' %}" alt="VK" width="32"></a>
                    <a href="#"><img src="{% static 'images/icons/google.png' %}" alt="OK" width="32"></a>
                </div>
            </div>

        </div>

        <div class="text-center mt-3">
            <p class="mb-1">Разработка сайтов: <strong>AVADA-MEDIA</strong></p>
            <p class="mb-0">&copy;KinoCMS 2016. All rights reserved</p>
        </div>
    </div>
</footer>